.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}



.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}




.img-wrap {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 20%;
}


#profileImg {
    width: auto;
    height: 100%;
}