<!DOCTYPE html>
<html lang="es" {% block htmlClass %}{%endblock%}>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}{% endblock %}</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', path='/img/favicon-16x16.png') }}" rel="icon">
  <link href="{{url_for('static', path='/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!--<link href="https://fonts.gstatic.com" rel="preconnect">-->
  <link rel="stylesheet" href="/static/css/google_fonts/css.css">
  <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->
  

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', path='/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', path='/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', path='/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', path='/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static', path='/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static', path='/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static', path='/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', path='css/style.css')}}" rel="stylesheet">
  {% block css %}{% endblock %}</head>
  <!-- =======================================================
  * Template Name: NiceAdmin - v2.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', path='/img/logo.png') }}" alt="">
        <span class="d-none d-lg-block">C&M Emprendimientos</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/img/user.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{userInfo.username}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{userInfo.nombre}} {{userInfo.apellido}}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-gear"></i>
                <span>Configurar Cuenta</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar Sesión</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed active" id="inicio" href="/">
          <i class="bi bi-grid"></i>
          <span>Inicio</span>
        </a>
      </li><!-- End Dashboard Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed active" href="/trabajos/orden_trabajo" id="orden_trabajo">
          <i class="ri-list-check-2"></i><span>Orden de Trabajo</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/clientes/clientes" class="nav-link collapsed" id="clientes-nav">
          <i class="ri-parent-fill"></i><span>Lista de Clientes</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#pedidos-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Pedidos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="pedidos-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/pedidos/nuevo_pedido" id="nuevo_pedido">
              <i class="bi bi-circle"></i><span>Nuevo Pedido</span>
            </a>
          </li>
          <li>
            <a href="/pedidos/pedidos" id="lista_pedidos">
              <i class="bi bi-circle"></i><span>Lista de Pedidos</span>
            </a>
          </li>
          
          
        </ul>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#comercio-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Comercio</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="comercio-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="/pagos/cobranza" id="registrar_pago">
              <i class="bi bi-circle"></i><span>Cobranza</span>
            </a>
          </li>
          <li>
            <a href="/productos/productos" id="productos">
              <i class="bi bi-circle"></i><span>Productos</span>
            </a>
          </li>
          <li>
            <a href="/productos/nuevo_producto" id="new-producto">
              <i class="bi bi-circle"></i><span>Nuevo Producto</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#insumos-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-ink-bottle-fill"></i><span>Insumos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="insumos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/insumos/insumos" id="Listainsumos-nav">
              <i class="bi bi-circle"></i><span>Lista de Insumos</span>
            </a>
          </li>
          <li>
            <a href="/insumos/baja_insumos" id="BajaInsumo-nav">
              <i class="bi bi-circle"></i><span>Baja de Insumos</span>
            </a>
          </li>
          <li>
            <a href="/insumos/compra_insumos">
              <i class="bi bi-circle"></i><span>Registrar compra de Insumos</span>
            </a>
          </li>
          <li>
            <a href="/proveedores/">
              <i class="bi bi-circle"></i><span>Proveedores</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      {% if userInfo.codTipoUsuario == 1 %}
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#equipos-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-printer-fill"></i><span>Equipos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="equipos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/equipos/equipos" id="equipos">
              <i class="bi bi-circle"></i><span>Lista de Equipos</span>
            </a>
          </li>
          <li>
            <a href="/equipos/nuevo_equipo" id="nuevo_equipo">
              <i class="bi bi-circle"></i><span>Nuevo Equipo</span>
            </a>
          </li>
          <li>
            <a href="/equipos/mantenimientos" id="lista_mantenimientos">
              <i class="bi bi-circle"></i><span>Mantenimientos</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#auditorias-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-file-search-fill"></i><span>Auditorias</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="auditorias-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/auditorias/productos" id="audiProductos">
              <i class="bi bi-circle"></i><span>Productos</span>
            </a>
          </li>
          <li>
            <a href="/auditorias/pedidos" id="audiPedidos">
              <i class="bi bi-circle"></i><span>Pedidos</span>
            </a>
          </li>
          <li>
            <a href="/auditorias/det_pedidos" id="audiDetPedidos">
              <i class="bi bi-circle"></i><span>Detalles Pedidos</span>
            </a>
          </li>
          <li>
            <a href="/auditorias/proveedores" id="audiProveedores">
              <i class="bi bi-circle"></i><span>Proveedores</span>
            </a>
          </li>
          <li>
            <a href="/auditorias/insumos" id="audiInsumos">
              <i class="bi bi-circle"></i><span>Insumos</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-heading">Reportes</li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#reportes-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-list-unordered"></i><span>Pedidos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reportes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/reportes/pedidos/resumen" id="sin_entregar">
              <i class="bi bi-circle"></i><span>Resumen de Pedidos</span>
            </a>
          </li>
          <li>
            <a href="/reportes/pedidos/sin_entregar" id="insumos_utilizados">
              <i class="bi bi-circle"></i><span>No entregados</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#Reinsumos-nav" data-bs-toggle="collapse" href="#">
          <i class="ri-file-paper-2-line"></i><span>Insumos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="Reinsumos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/reportes/insumos/perdidos_detalles" id="perdidos-detalles">
              <i class="bi bi-circle"></i><span>Perdidos(detalles)</span>
            </a>
          </li>
          <li>
            <a href="/reportes/insumos/perdidos_resumen" id="usuarios">
              <i class="bi bi-circle"></i><span>Perdidos(Resumen)</span>
            </a>
          </li>
          <li>
            <a href="/reportes/insumos/utilizados" id="nuevo_usuario">
              <i class="bi bi-circle"></i><span>Utilizados</span>
            </a>
          </li>
          <li>
            <a href="/reportes/insumos/historial_det" id="nuevo_usuario">
              <i class="bi bi-circle"></i><span>Historial de Compras</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-heading">Ajustes del Sistema</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/usuarios/"  id="usuarios-nav">
          <i class="ri-user-3-line"></i><span>Usuarios</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/ajustes/"  id="ajustes-nav">
          <i class="ri-settings-4-line"></i><span>Ajustes</span>
        </a>
      </li>

      {%endif%}
      
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    {% block content %}

    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', path='/vendor/apexcharts/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/chart.js/chart.min.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/echarts/echarts.min.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/quill/quill.min.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/simple-datatables/simple-datatables.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/tinymce/tinymce.min.js') }}"></script>
  <script src="{{ url_for('static', path='/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', path='/js/main.js') }}"></script>
  {% block scripts %}
  {% endblock %}
  
  <script>
    //evita numero decimales, solo enteros
    $('input[type="number"]').keydown(function(e){
      var tecla = e.key;
    if (['.','e', ','].includes(tecla))
      e.preventDefault()
    })
  </script>

</body>

</html>