<html>
<head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Resumen del Pedido</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="/static/img/favicon.png" rel="icon">
        <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/static/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="/static/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="/static/vendor/simple-datatables/style.css" rel="stylesheet">
      
        <link href="/static/css/style.css" rel="stylesheet">
        <style>
            .text{
                font-size: 12px;
            }
            .title{
                font-size: 14px;
            }
            .sub-title{
                font-size: 12px;
            }
            th, td, p{
                font-size: 11px;
            }
            tr{
                padding: 0px;
                margin: 0px;
            }
        </style>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-sm-12 mt-3">
                <h1 class="text title text-primary text-center">C&M Emprendimientos</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col">
                <h3 class="text sub-title text-center" >Resumen del Pedido</h3>
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col">
                <h4 class="text sub-title text-center" >Codigo del Pedidido: <span class="codPedido">{{codPedido}}</span></h3>
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-5 text-center">
                <p><b>Cliente:</b> <span class="nombre">{{cliente.cliente.nombre}} {{cliente.cliente.apellido}}</span></p>
            </div>
            <div class="col-3 text-center">
                <p><b>RUC:</b> <span class="documento">{{cliente.cliente.documento}}</span></p> 
            </div>
            <div class="col-3 text-center">
                <p><b>Fecha:</b> <span class="documento">{{fecha}}</span></p> 
            </div>
        </div>
        <div class="row justify-content-center align-items-center g-2">
            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Presupuesto</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for detalle in pedido %}
                                <tr class="table-primary" >
                                    <td>{{detalle.pedido.detalleProducto.codProducto}} - {{detalle.producto.descripcion}}</td>
                                    <td>{{detalle.pedido.cantidad}}</td>
                                    <td>{{detalle.pedido.presupuesto}}</td>
                                </tr>
                            {% endfor %}
                            {% if delivery.solicitado == true %}
                                <tr class="table-primary" >
                                    <td>Servicio de Delivery</td>
                                    <td>1</td>
                                    <td>{{delivery.costoDelivery}}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                </table>
                <p class="text"><b>Total:</b> <span class="total">{{cliente.total}}</span>  </p>
            </div>
            
        </div>
    </div>
    <script>
        window.print()
        window.onafterprint = function () {
            window.close();
        }
    </script>
</body>
</html>