{% extends "base.html" %} {% block title %}Cobranza{% endblock %} {% block css
%} {% endblock %} {% block content %}

<div class="pagetitle">
    <h1>Registrar Pagos</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active">Cobranza</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Datos del cliente</h5>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">CI - RUC</label>
                        <div class="col-sm-3" id="divDocumento">
                            <input type="text" class="form-control" id="documento" value="{{documento}}" />
                            <small class="text-danger" id="alertDocumento" hidden>Cliente no encontrado</small>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-primary" id="buscarCuentas">
                                <i class="ri-search-2-line"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombre" disabled />
                        </div>
                    </div>
                    <div class="card table-responsive">
                        <div class="card-body">
                            <h5 class="card-title">Listado de Cuentas</h5>
                            <table class="table table-hover" id="listaCompras">
                                <thead>
                                    <tr>
                                        <th scope="col">Cod</th>
                                        <th scope="col">Producto/s</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Saldo</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyLista">

                                    <!-- Modal Abonar-->
                                    <div class="modal fade" id="abonar-modal" tabindex="-1" data-bs-backdrop="static" role="dialog"
                                        aria-labelledby="abonar-modalTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="abonar-modalTitle">Abonar</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <p><b>Codigo de Pedido:</b> <span id="codPedido"></span></p>
                                                        <p><b>Presupuesto Total:</b> <span id="total">0</span></p>
                                                        <p id="saldo"><b>Saldo: </b></p>
                                                        <div class="mb-3 row">
                                                            <div class="col-sm-8">
                                                                <input type="number" class="form-control" name="sena"
                                                                    id="monto" aria-describedby="help"
                                                                    placeholder="monto">
                                                            </div>
                                                            <small id="help" class="form-text text-danger"></small>
                                                            <div class="col-sm-4">
                                                                <button type="button" id="registrarPago"
                                                                    class="btn btn-primary">Registrar</button>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12">
                                                                <button type="button" id="imprimirRecibo"
                                                                    class="btn btn-secondary">Imprimir Recibo</button>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3" id="btn-factura-div">
                                                            <div class="col sm-12">
                                                                <button type="button" class="btn-printFactura btn btn-success" id="imprimirFactura"
                                                                    class="btn btn-secondary">Imprimir Factura</button>

                                                                <input class="form-check-input otherCliete" type="checkbox"
                                                                    value="1" id="otherCliete">
                                                                <label class="form-check-label otherCliete" for="otherCliete">
                                                                    Generar a nombre de otra persona
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div id="newCliente" class="row">
                                                            <div class="alert" id="alertNuevoCliente"></div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">CI/RUC<span class="text-danger">*</span></label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" id="newDocumento"
                                                                        class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">Nombre<span class="text-danger">*</span></label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" id="newNombre"
                                                                        class="form-control infoCliente">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">Apellido<span class="text-danger">*</span></label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" id="newApellido"
                                                                        class="form-control infoCliente">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">Nacionalidad<span class="text-danger">*</span></label>
                                                                <div class="col-sm-10">
                                                                    <select class="form-select infoCliente"
                                                                        aria-label="Default select example"
                                                                        id="newNacionalidad">
                                                                        <option selected value="PY">Paraguaya</option>
                                                                        <option value="AR">Argentina</option>
                                                                        <option value="BR">Brasilera</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">Dirección</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" id="newDireccion"
                                                                        class="form-control infoCliente">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">Celular</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" id="newCelular"
                                                                        class="form-control infoCliente">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <label for="inputText"
                                                                    class="col-sm-2 col-form-label">Email</label>
                                                                <div class="col-sm-10">
                                                                    <input type="email" id="newEmail"
                                                                        class="form-control infoCliente">
                                                                </div>
                                                            </div>
                                                            <div class="row mb-3">
                                                                <div class="col-sm-12">
                                                                    <button type="button" id="printFactura"
                                                                        class="btn btn-success">Generar Factura</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="entregarPedido-btn" class="btn btn-primary">Entregar Pedido/s</button>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', path='/js/jquery-3.6.1.min.js') }}"></script>
<script src="/static/js/funciones_ajax.js"></script>
<script src="/static/js/pagos.js"></script>
<script src="/static/js/pedidos.js"></script>
<script src="/static/js/funciones_ajax.js"></script>
{% if documento != '' %}
    <script>
        $('#buscarCuentas').click()
    </script>
{% endif %}
{% if codPedido %}
    <script>
        abonar({{codPedido | tojson}})
        $('#abonar-modal').on("hidden.bs.modal",function(){
            window.close()
        })
    </script>
{% endif %}
{% endblock %}