{% extends "base.html" %}
{% block title %}Resumen de Pedidos{% endblock %}
{% block css %}
<link href="{{url_for('static', path='css/datatables.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="/static/css/responsive.dataTables.min.css">
{% endblock %}
{% block content %}
<div class="pagetitle">
    <h1>Insumos Utilizados</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item">Reportes</li>
            <li class="breadcrumb-item">Insumos</li>
            <li class="breadcrumb-item active">Utilizados</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-0">Lista de Insumos Utilizados</h5>
                    <small class="form-text text-danger">Esta lista está basada en las fechas de los pedidos, no en las fecha en que fueron utilizados los insumos</small>
                    <div class="table-responsive-sm mt-3">
                        <!-- Default Table -->
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" name="desde" id="desde" placeholder="Desde"
                                        value="{{fInicio}}">
                                    <label for="desde">Desde</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" name="hasta" id="hasta" placeholder="Hasta"
                                        value="{{fFin}}">
                                    <label for="hasta">Hasta</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary btn-lg"
                                    id="filtrar-utilizados">Filtrar</button>
                                <button type="button" class="btn btn-secondary btn-lg"
                                    id="limpiar-utilizados">Limpiar</button>
                            </div>
                        </div>
                        <table class="table table-hover display" id="listaPedidos">
                            <thead>
                                <tr>
                                    <th>Cod.</th>
                                    <th>Insumo</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for insumo in insumos %}
                                <tr>
                                    <td>{{insumo.codInsumo}}</td>
                                    <td>{{insumo.descripcion}}</td>
                                    <td>{{insumo.cantidad}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block scripts %}
<!-- Template Main JS File -->
<script src="{{ url_for('static', path='/js/jquery-3.6.1.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/funciones_ajax.js') }}"></script>
<script src="/assets/js/Responsive-2.4.0/js/dataTables.responsive.min.js"></script>
<script src="/static/js/reportes.js"></script>
<script src="/static/js/pdfmake-0.1.36/pdfmake.min.js"></script>
<script src="/static/js/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="/static/js/JSZip-2.5.0/jszip.min.js"></script>
<script src="/static/js/buttons.html5.styles.min.js"></script>
<script src="/static/js/buttons.html5.styles.templates.min.js"></script>

{% if fInicio != '' and fFin != '' %}
<script>
    const periodo = "Desde " + {{ fInicio | tojson}} + ' hasta ' + {{ fFin | tojson }}
    const row = '3'
</script>
{% elif fInicio != '' and fFin == '' %}
<script>
    const periodo = "Desde " + {{ fInicio | tojson}}
    const row = '3'
</script>
{% elif fInicio == '' and fFin != '' %}
<script>
    const periodo = 'Hasta ' + {{ fFin | tojson}}
    const row = '3'
</script>
{% else %}
<script>
    const periodo = ''
    const row = '2'
</script>
{% endif %}
<script>
    $(document).ready(function () {
        toDataUrl('/static/img/logo.png', function (myBase64) {
            logo = myBase64 // myBase64 is the base64 string
        });
        // DataTable initialisation
        $("#listaPedidos").DataTable({
            responsive: true,
            dom: 'Bfrtilp',
            paging: true,
            language: spanish,
            autoWidth: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="ri-file-excel-line"></i> ',
                    titleAttr: 'Exportar a Excel',
                    title: 'Insumos Utilizados',
                    className: 'btn btn-success',
                    filename: "Insumos Utilizados - " + periodo,
                    messageTop: periodo,
                    excelStyles: [{
                        cells: row,                     // adonde se aplicaran los estilos (fila 2)
                        style: {                        // The style block
                            font: {                     // Style the font
                                name: "Arial",          // Font name
                                size: "12",             // Font size
                                color: "FFFFFF",        // Font Color
                                b: true,               // negrita SI
                            },
                            fill: {                     // Estilo de relleno (background)
                                pattern: {              // tipo de rellero (pattern or gradient)
                                    color: "9413ab",    // color de fondo de la fila
                                }
                            }
                        }
                    },
                    {
                        cells: 'A1',
                        style: {
                            font: {
                                name: 'Arial',
                                size: '14',
                                b: true,
                            }
                        }
                    }
                    ],

                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="bx bxs-file-pdf"></i> ',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                    messageTop: periodo,
                    filename: "Insumos Utilizados - " + periodo,
                    orientation: "portrait", //portrait
                    pageSize: "A4", //A3 , A5 , A6 , legal , letter
                    exportOptions: {
                        columns: ":visible",
                        search: "applied",
                        order: "applied"
                    },
                    customize: function (doc) {
                        //Remove the title created by datatTables
                        doc.content.splice(0, 1);
                        //Create a date string that we use in the footer. Format is dd-mm-yyyy
                        var now = new Date();
                        var jsDate =
                            now.getDate() + "-" + (now.getMonth() + 1) + "-" + now.getFullYear();
                        doc.pageMargins = [20, 60, 20, 100];
                        // Set the font size fot the entire document
                        doc.defaultStyle.fontSize = 12;
                        // Set the fontsize for the table header
                        doc.styles.tableHeader.fontSize = 14;
                        // Create a header object with 3 columns
                        // Left side: Logo
                        // Middle: brandname
                        // Right side: A document title
                        doc["header"] = function () {
                            return {
                                columns: [
                                    {
                                        image: logo,
                                        width: 50
                                    },
                                    {
                                        alignment: "center",
                                        //italics: true,
                                        bold: true,
                                        text: "Insumos Utilizados",
                                        fontSize: 16,
                                        //margin: [10, 0]
                                    },
                                    /*{
                                        alignment: "right",
                                        fontSize: 14,
                                        text: "Desde " + '28/01/2022' + ' hasta ' + '28/01/2023'
                                    }*/
                                ],
                                margin: 20

                            };
                        };
                        // Create a footer object with 2 columns
                        // Left side: report creation date
                        // Right side: current page and total pages
                        doc["footer"] = function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: "left",
                                        text: ["Solicitado el: ", { text: jsDate.toString() }],
                                    },
                                    {
                                        alignment: "right",
                                        text: [
                                            "Pagina ",
                                            { text: page.toString() },
                                            " de ",
                                            { text: pages.toString() }
                                        ]
                                    }
                                ],
                                margin: 20
                            };
                        };
                        // Change dataTable layout (Table styling)
                        // To use predefined layouts uncomment the line below and comment the custom lines below
                        // doc.content[0].layout = 'lightHorizontalLines'; // noBorders , headerLineOnly
                        var objLayout = {};
                        objLayout["hLineWidth"] = function (i) {
                            return 0.5;
                        };
                        objLayout["vLineWidth"] = function (i) {
                            return 0.5;
                        };
                        objLayout["hLineColor"] = function (i) {
                            return "#aaa";
                        };
                        objLayout["vLineColor"] = function (i) {
                            return "#aaa";
                        };
                        objLayout["paddingLeft"] = function (i) {
                            return 4;
                        };
                        objLayout["paddingRight"] = function (i) {
                            return 4;
                        };
                        doc.content[0].layout = objLayout;
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="ri-printer-line"></i> ',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                    filename: "Insumos Utilizados - " + periodo,
                    title: 'Insumos Utilizados',
                    messageTop: periodo
                },
            ]
        });
    });
</script>
{% endblock %}