{% extends "base.html" %}
{% block title %}Insumos{% endblock %}
{% block css %}
<link href="{{url_for('static', path='css/datatables.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="/static/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="/static/css/rowGroup.dataTables.min.css">
{% endblock %}
{% block content %}
<div class="pagetitle">
  <h1>Insumos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">Insumos</li>
      <li class="breadcrumb-item active">Lista de Insumos</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Insumos</h5>
          <div class="table-responsive-sm mt-3">

            <!-- Modal Body -->
            <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
            <div class="modal fade" id="infoInsumo-modal" tabindex="-1" data-bs-backdrop="static"
              data-bs-keyboard="false" role="dialog" aria-labelledby="infoInsumo-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoInsumo-title">Infomración del Insumo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="" id="editInsumo-form">
                    <div class="modal-body">

                      <div class="row mb-3 mt-3">
                        <label for="codInsumo" class="col-form-label col-sm-2">Cod.</label>
                        <div class="col-sm-3">
                          <input type="text" name="codInsumo" id="codInsumo" class="form-control" disabled>
                        </div>
                        <label for="tipoInsumo" class="col-form-label col-sm-2">Tipo Insumo</label>
                        <div class="col-sm-3">
                          <select class="form-select form-select" name="tipoInsumo" id="tipoInsumo" disabled>
                            {% for tipo in tiposInsumo %}
                            <option value="{{tipo._id}}">{{tipo.descripcion}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="row mb-3 mt-3">
                        <label for="descInsumo" class="col-form-label col-sm-2">descripción<span
                            class="text-danger required">*</span></label>
                        <div class="col-sm-10">
                          <input type="text" name="descInsumo" id="descInsumo" class="form-control infoInsumo" required>
                        </div>
                      </div>
                      <div class="row mb-3 mt-3">
                        <label for="stockMin" class="col-form-label col-sm-2">Stock Mínimo<span
                            class="text-danger required">*</span></label>
                        <div class="col-sm-3">
                          <input type="number" min="0" name="stockMin" id="stockMin" class="form-control infoInsumo" required>
                        </div>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="editar-btn">Editar</button>
                      <button type="submit" class="btn btn-success" id="guardarCambios-btn" title="Guardar"><i
                          class="ri-save-3-line"></i></button>
                      <button type="button" class="btn btn-danger" id="eliminar-btn" title="Eliminar"><i
                          class="ri-delete-bin-6-line"></i></button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <table class="table table-hover display" id="listaInsumos">
              <thead>
                <tr>
                  <th scope="col">Cod.</th>
                  <th scope="col">Insumo</th>
                  <th>Stock Actual.</th>
                  <th scope="col">Stock Mínimo</th>
                  <th>Tipo</th>
                  <!--<th>Acciones</th>-->
                </tr>
              </thead>
              <tbody>
                {% for insumo in insumos %}

                <tr id="{{insumo.codInsumo}}" onclick="infoInsumo('{{insumo.codInsumo}}')">
                  <td>{{insumo.codInsumo}}</td>
                  <td>{{insumo.descripcion}}</td>
                  <td>
                    {% if insumo.stock %}
                    {{insumo.stock}}
                    {% else %}
                    -
                    {% endif %}
                  </td>
                  <td>{{insumo.stockMin}}</td>
                  <td>{{insumo.tipoInsumo.descripcion}}</td>

                </tr>

                {% endfor%}

              </tbody>
            </table>
            <!-- End Default Table Example -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block scripts %}
<!-- Template Main JS File -->
<script src="{{ url_for('static', path='/js/jquery-3.6.1.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/funciones_ajax.js') }}"></script>
<script src="{{ url_for('static', path='/js/insumos.js') }}"></script>
<script>
  $(document).ready(function () {
    $('#listaInsumos').DataTable({
      language: spanish,
    });
  });
  console.log(spanish)
</script>
{% if codInsumo %}
      <script>
       $(document).ready(function(){
        infoInsumo({{codInsumo | tojson}})
        $('#infoInsumo-modal').on("hidden.bs.modal",function(){
          window.close()
        })
       })
      </script>
    {% endif %}
{% endblock %}