{% extends "base.html" %}
{% block title %}Orde de Trabajo{% endblock %}
{% block css %}
  <link rel="stylesheet" href="/static/css/datatables.min.css">
{% endblock %}
{% block content %}

    <div class="pagetitle">
      <h1>Orden de Trabajo</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item active">Trabajos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              {% if msg %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{msg}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            <div class="table-responsive-sm mt-3">
                <!-- Default Table -->
                <div class="modal fade" id="detalleTrabajo" tabindex="-1">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Información</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="alertProduccion" class="alert"></div>
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Código</label>
                                    <div class="col-sm-3">
                                    <input type="text" class="form-control" id="infoCod" disabled>
                                    </div>
                                    <label for="inputText" class="col-sm-1 col-form-label">Cliente</label>
                                    <div class="col-sm-6">
                                      <a href="http://" class="form-control" id="infoCliente" target="_blank" rel="noopener noreferrer"></a>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Tipo Trabajo</label>
                                    <div class="col-sm-10">
                                    <input type="text" id="infoTipo" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Descripción</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="infoDescripcion" style="height: 100px" disabled>Lorem ipsum</textarea>
                                    </div>
                                </div>
                                <div id="dimensiones" class="row mb-3">
                                  <label class="col-sm-2 col-form-label">Dimensiones</label>
                                  <div class="col-sm-5">
                                    <label for="inputText" class="col-sm-3 col-form-label">Ancho</label>
                                    <input type="number" class="form-control" id="ancho" disabled>
                                  </div>
                                  <div class="col-sm-4">
                                    <label for="inputText" class="col-sm-3 col-form-label">Alto</label>
                                    <input type="number" class="form-control" id="alto" disabled>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Archivos</label>
                                    <div class="col-sm-10">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Archivos</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="infoArchivos">
                                                    <tr class="">
                                                        <td scope="row"><a></a></td>
                                                        <td><button type="button" class="btn btn-primary">Descargar</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Diseños</label>
                                    <div class="col-sm-10">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="tableDiseños">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Diseños</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="infoDisenios">
                                                    <tr class="">
                                                        <td scope="row"><a href=""></a></td>
                                                        <td><button type="button" class="btn btn-primary"><i class="bi download"></i></a></button></td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <form method="post" enctype="multipart/form-data" id="formDiseño">
                                          <input type="file" class="form-control" name="files" id="files" multiple>
                                          <button type="button" id="aggDiseño" class="btn btn-primary">Agregar Diseño</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row mb-3" id="aprovado-div" >
                                  <label for="checkAprovado" class="col-sm-2 col-form-label">Diseño Aprovado</label>
                                  <div class="col-sm-10">
                                    <input type="checkbox" value="true" id="checkAprovado" name="checkAprovado" class="form-check-input">
                                  </div>
                                
                                </div>
            
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Terminados</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="infoCant" class="form-control" value="0 de 3" disabled>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button class="btn btn-primary" id="btnProduccion">Iniciar Producción</button>
                            </div>
                        </div>
                    </div>
                </div>
              <table class="table table-hover display" id="ordenTrabajo">
                <thead>
                  <tr>
                    <th scope="col">Cod.</th>
                    <th scope="col">Producto</th>
                    <th>Fecha Entrega</th>
                    <th scope="col">Estado</th>
                    <th>Cant. Producida</th>
                    <!--<th>Acciones</th>-->
                  </tr>
                </thead>
                <tbody>
                {% for trabajo in trabajos %}
                
                  <tr id="" onclick="info('{{trabajo.codProduccion}}')">
                  
                    <td>{{trabajo.codProduccion}}</td>
                    <td>{{trabajo.producto}}</td>
                    <!--<td>  <input class="form-control border-0 bg-transparent w-auto m-0" type="datetime-local" value="{{trabajo.fechaEntrega}}" disabled>
                      </td> -->
                    <td>{{trabajo.fechaEntrega | replace("T"," ") }}</td>
                    <td>{{trabajo.etapa.descripcion}}</td>
                    <td>{{trabajo.cantidad - trabajo.cantidadRestante}}/{{trabajo.cantidad}}</td>
                    <!--<td><button type="button" class="btn btn-secondary" value="{{trabajo.codProduccion}}" data-bs-toggle="modal" data-bs-target="#detalleTrabajo">Info</button></td> -->
                  </tr>
                
                {% endfor%}
        
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', path='/js/jquery-3.6.1.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/datatables.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/dataTables.buttons.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/funciones_ajax.js') }}"></script>
  <script src="{{ url_for('static', path='/js/trabajos.js') }}"></script>
  {% if codProduccion != '' %}
    <script>
      info('{{codProduccion}}')
      $('#detalleTrabajo').on("hidden.bs.modal",function(){
        window.close()
      })
    </script>
  {%endif%}
  <script>
    $(document).ready(function () {
        $('#ordenTrabajo').DataTable({
        language: spanish,
        order: [[2, 'asc']], /*,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]*/
        });
    });
    </script>
{% endblock %}