<div class="mb-3">
    <label for="" class="form-label">City</label>
    <select class="form-select form-select-lg" name="" id="">
        <option selected>Select one</option>
        <option value="">New Delhi</option>
        <option value="">Istanbul</option>
        <option value="">Jakarta</option>
        <option value="other">Otros<input type="text" name="" id=""></option>
    </select>
</div>
<script></script>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="" checked>
  <label class="form-check-label" for="">
    Default checkbox
  </label>
</div>